@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

html.touch-manipulation {
  touch-action: manipulation;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

.scrollable {
  -webkit-overflow-scrolling: touch;
}
