.petonauta-landing {
  font-family: 'Press Start 2P', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  text-align: center;
}

.petonauta-landing footer {
  margin-top: 40px;
}

.petonauta-landing a {
  color: #0ff;
  text-decoration: underline;
}
